.header {
  flex-direction: row;
  background-color: brown;
  color: bisque;
  display: flex;
  padding: 1rem;
}
.text {
  color: greenyellow;
  font-size: 60px;
}
.img {
  width: 250px;
  height: 150px;
}
