.header {
  background-color: brown;
  color: bisque;
  display: flex;
  padding: 1rem;
  min-height: 20vh;
}
.text {
  color: greenyellow;
  font-size: 60px;
  display: flex;
  flex-direction: column-reverse;
}
